@import "vue-select/dist/vue-select.css";
@font-face {
    font-family: 'Open-Sans';
    src: url('fonts/opensans-webfont.woff');
}

body {
    font-family: Open-Sans, serif;
    padding: 0;
    margin: 0;
    background-color: slategrey;
    color: aliceblue;
    overflow-x: hidden;
}

.navbar {
    background-color: darkred;
    position: static;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    word-spacing: 1rem;
}

.navbar a {
    padding: .5rem .5rem;
}

main {
    padding: 1rem 1rem;
}

a {
    text-decoration: none;
    color: aliceblue;
}