@import "vue-select/dist/vue-select.css";

@font-face {
    font-family: 'Open-Sans';
    src: url('fonts/opensans-webfont.woff');
}

body {
    --text-color: black;
    --accent-color: lightslategray;
    --background-color: white;
    --navbar-color: white;
    --paragraph-text-size: 16px;
    --highlight-color: whitesmoke;
    --border-radius: 0;
    --border-width: 1px;
    font-family: Open-Sans, serif;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* This is specifically for v-select elements */
body {
    --vs-controls-color: var(--accent-color);
    --vs-border-color: var(--accent-color);
    --vs-dropdown-bg: var(--background-color);
    --vs-dropdown-color: var(--text-color);
    --vs-dropdown-option-color: var(--text-color);
    --vs-dropdown-option--active-bg: var(--highlight-color);
    --vs-selected-color: var(--text-color);
    --vs-search-input-color: var(--text-color);
    --vs-search-input-bg: var(--text-color);
    --vs-dropdown-option--active-color: var(--text-color);
    --vs-border-radius: var(--border-radius);
    --vs-selected-border-width: 0;
    --vs-border-width: var(--border-width);
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

table {
    width: 100%;
}

td, th {
    padding: 10px;
    max-width: 20rem;
}

table, td, th {
    border: var(--border-width) solid var(--accent-color);
    border-collapse: collapse;
}

textarea {
    resize: none;
    border-radius: var(--border-radius);
    border-width: var(--border-width);
}

textarea:focus {
    outline: none;
}

button {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5rem 0.5rem;
    border: none;
}

button:hover {
    background-color: var(--highlight-color);
}

input {
    border: var(--border-width) solid var(--accent-color);
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    font-size: var(--paragraph-text-size);
    line-height: var(--vs-line-height);
    font-family: Open-Sans, sans-serif;
    padding-left: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 10rem;
}

input:focus {
    outline: none;
}

.navbar {
    background-color: var(--navbar-color);
    position: static;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    word-spacing: 1rem;
    border-bottom: var(--border-width) solid var(--accent-color);
}

.navbar a {
    padding: 1rem 1rem;
    vertical-align: middle;
}

.NavigationView {
    display: flex;
}

.NavigationView > * {
    width: 100%;
    margin: 1rem;
}

.dropdownSelect {
    width: 11rem;
}

.error {
    color: red;
    font-weight: bold;
    background-color: var(--background-color);
    padding: 16px;
}

.logo {
    height: 24px;
}